# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
data/raw/
data/processed/
models/

# Environment
.env
ml-env/
venv/

# Firebase
firebase-key.json

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/